.song{
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0;
    list-style:none;
    border-bottom: 2px solid black;
}
.song_play_button{
    cursor: pointer;
}
.song{
    cursor: pointer;
}

 img, svg{
    width: 1.5rem;
    
}
